* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fefefe;
}

img {
    width: 60%;
    height: auto;
}

.button {
    display: flex;
    flex: 2;
 }


#content {
    border: 1px solid rgba(0, 0, 0, 0.123);
    width: 90%;
    height: auto;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

#btnRock, #btnPaper, #btnScissors {
    width: 100px;
    height: 160px;
    font-size: 18px;
    margin: 20px 20px ;
    cursor: pointer;
    transition: all .2s ease;
}

#btnRock:hover, #btnPaper:hover, #btnScissors:hover{
    background-color: black; 
}

button:hover img {
    filter: invert(1) brightness(2);
}



